<div class="row">
	<div class="col-md-6">
		{{#bs-panel heading="Workshop Description" type="info"}}
			<p><b>Name:</b> {{name}}</p>
			<p><b>Description:</b> {{description}}</p>
			<p><b>Speaker:</b> {{#link-to 'guest.workshops.workshop.speaker' model speaker}}{{speaker.name}}{{/link-to}}</p>
		{{/bs-panel}}
	</div>
	<div class="col-md-6">
		{{outlet}}
	</div>
</div>

