<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h4>Workshops</h4>
		{{#if session.isAuthenticated}}
			<p>{{#link-to 'workshops.new'}}New Workshop{{/link-to}}</p>
		{{/if}}
		<ul class="list-group">
			{{#each workshop in controller}}
			  <li class="list-group-item">{{#link-to 'workshops.workshop' workshop}}{{#if session.isAuthenticated}}{{#bs-button size="xs" clicked="register" clickedParamBinding="workshop"}}Register{{/bs-button}}  {{/if}}{{workshop.name}}{{/link-to}}</li>
			{{/each}}
		</ul>
	</div>
</div>