<div class="row">
	<div class="col-md-4 col-md-offset-4">
		{{#bs-panel heading="Workshop" type="info"}}
			<p><b>Name:</b> {{name}}</p>
			<p><b>Description:</b> {{description}}</p>
			<p><b>Speaker:</b> {{speaker.name}}</p>
		{{/bs-panel}}
	</div>
</div>

