<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h4>Guests</h4>
		<ul class="list-group">
			{{#each guest in controller}}
			  <li class="list-group-item">{{#link-to 'guest' guest}}{{guest.name}}{{/link-to}}</li>
			{{/each}}
		</ul>
	</div>
</div>