<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h4>Speakers</h4>
		{{#if session.isAuthenticated}}
			<p>{{#link-to 'speakers.new'}}New Speaker{{/link-to}}</p>
		{{/if}}
		<ul class="list-group">
			{{#each speaker in controller}}
			  <li class="list-group-item">{{#link-to 'speakers.speaker' speaker}}{{speaker.name}}{{/link-to}}</li>
			{{/each}}
		</ul>
	</div>
</div>