<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h2>Edit Guest</h2>
		<form {{action 'save' on='submit'}}>
			<div class="form-group">
				<label for="edit_guest_name">Name</label>
				{{input value=name id='edit_guest_name' class="form-control"}}
			</div>
			<div class="form-group">
				<label for="edit_guest_email">Email</label>
				{{input value=email id='edit_guest_email'class="form-control"}}
			</div>
			<button type="submit" class="btn btn-primary">Update</button>
			<button type="button" class="btn btn-default" {{action 'cancel'}}>Cancel</button>
		</form>
	</div>
</div>